<!doctype html>
<html class="h-100pt">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ecoh | PENDIENTE</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta property="og:url" content="https://www.ecoh.mx">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Ecoh">
    <meta property="og:description" content="">
    <meta property="og:image" content="https://www.ecoh.mx/images/meta/facebook.jpg">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="https://www.ecoh.mx/images/meta/twitter.jpg">
    <%= stylesheet_link_tag "reset" %>
    <%= stylesheet_link_tag "index" %>
    <%= partial "partials/favicons" %>
  </head>
  <body class="h-100pt d-flex fd-column">
    <%= partial "partials/header" %>
    <%= partial "partials/proyectos" %>
    <main class="d-flex ai-center f-1 jc-center-m">
      <%= yield %>
    </main>
    <%= partial "partials/footer" %>
    <%= javascript_include_tag "menu_proyectos" %>
  </body>
</html>
