<!doctype html>
<html class="h-100pt">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <%= stylesheet_link_tag "reset" %>
    <%= stylesheet_link_tag "index" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body class="h-100pt d-flex fd-column">
    <%= partial "partials/header" %>
    <%= yield %>
  </body>
</html>
