<!doctype html>
<html class="h-100pt-m">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ecoh</title>
    <%= partial "partials/metas" %>
    <%= stylesheet_link_tag "reset" %>
    <%= stylesheet_link_tag "index" %>
    <%= partial "partials/favicons" %>
  </head>
  <body class="h-100pt-m d-flex-m fd-column-m preload">
    <%= partial "partials/header" %>
    <%= partial "partials/proyectos" %>
    <main class="d-flex ai-center f-1-m jc-center-m">
      <%= yield %>
    </main>
    <%= partial "partials/footer" %>
    <%= javascript_include_tag "menu_proyectos" %>
  </body>
</html>
