<!doctype html>
<html class="h-100pt-m">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <% proyecto = locals[:proyecto] %>
    <title>Ecoh | <%= proyecto.nombre %></title>
    <meta name="description" content="<%= proyecto.seo.descripcion %>">
    <meta property="og:title" content="Ecoh | <%= proyecto.nombre %>">
    <meta property="og:description" content="<%= proyecto.seo.descripcion %>">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.ecoh.mx/proyectos/<%= proyecto.id %>">
    <meta property="og:image" content="https://www.ecoh.mx/images/meta/facebook.jpg">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Ecoh | <%= proyecto.nombre %>">
    <meta name="twitter:description" content="<%= proyecto.descripcion %>">
    <meta name="twitter:image" content="https://www.ecoh.mx/images/meta/twitter.jpg">
    <%= stylesheet_link_tag "reset" %>
    <%= stylesheet_link_tag "index" %>
    <%= partial "partials/favicons" %>
  </head>
  <body class="d-flex-m fd-column-m oy-hidden-m h-100pt-m m-0px-m p-0px-m">
    <%= partial "partials/header" %>
    <%= partial "partials/proyectos" %>
    <main class="mb-48px pt-24px ph-24px oy-hidden-m d-flex-m f-1-m m-0px-m p-0px-m">
      <%= yield %>
    </main>
    <%= partial "partials/footer" %>
    <%= javascript_include_tag "menu_proyectos" %>
  </body>
</html>
