<%# Config %>
<% proyecto = locals[:proyecto] %>
<div class="oy-scroll-m h-100pt-m w-380px-m pt-69px-m pl-24px-m">
  <header>
    <h1 class="mb-12px ff-apercu_pro fw-bold fs-12px tt-uppercase ls-1px">
      <%= proyecto.nombre %>
    </h1>
    <div class="mb-8px">
      <h3 class="mb-4px pr-4px ff-apercu_pro fs-12px tt-uppercase lh-16px ls-1px td-underline d-inline_block-m m-0px-m">
        Superficie construida
      </h3>
      <h3 class="ff-apercu_pro fs-12px tt-uppercase lh-16px ls-1px d-inline_block-m">
        <%= proyecto.superficie_construida %>
      </h3>
    </div>
    <div class="mb-8px">
      <h3 class="mb-4px pr-4px ff-apercu_pro fs-12px tt-uppercase lh-16px ls-1px td-underline d-inline_block-m m-0px-m">
        Ubicación
      </h3>
      <h3 class="ff-apercu_pro fs-12px tt-uppercase lh-16px ls-1px d-inline_block-m">
        <%= proyecto.ubicacion %>
      </h3>
    </div>
    <div class="mb-8px">
      <h3 class="mb-4px pr-4px ff-apercu_pro fs-12px tt-uppercase lh-16px ls-1px td-underline d-inline_block-m m-0px-m">
        Año
      </h3>
      <h3 class="ff-apercu_pro fs-12px tt-uppercase lh-16px ls-1px d-inline_block-m">
        <%= proyecto.ano %>
      </h3>
    </div>
  </header>
  <button id="boton-detalles" class="d-inline_block pt-8px pr-16px pb-16px ff-apercu_pro fw-bold fs-16px tt-uppercase bc-transparent b-none tp-opacity ttf-ease_in_out td-0_15s ap-partial_fade_out">+</button>
  <div id="contenido-detalles" class="oy-hidden tp-max_height ttf-ease_in_out td-0_35s">
    <% proyecto.detalles.each do |detalle| %>
      <p class="pb-24px ff-apercu_pro fs-14px lh-20px ls-0_5px" data-detalle>
        <%= detalle.texto %>
      </p>
    <% end %>
  </div>
  <div class="d-none d-block-m">
    <% data.sitio.proyecto.each_with_index do |(id, menu_proyecto), i| %>
      <% if id != proyecto.id %>
        <a class="<% if i != data.sitio.proyecto.length - 1 %>mb-12px<% end %> ff-apercu_pro fs-12px fc-negro tt-uppercase td-none ls-1px tp-opacity ttf-ease_in_out td-0_15s ap-partial_fade_in" href="/proyectos/<%= id %>">
          <%= menu_proyecto.nombre %>
        </a>
      <% end %>
    <% end %>
  </div>
</div>
<div class="d-flex-m oy-scroll-m oy-hidden-l jc-center-m f-1-m h-100pt-m">
  <div class="d-flex-m fd-column-m fd-row-l pt-69px-m mw-700px-l pr-32px-m">
    <div class="w-80pt-l mb-24px mb-0px-l">
      <img id="imagen-principal" class="d-block w-100pt h-400px-l of-cover-m d-none d-flex-l" src="<%= proyecto.imagenes[0].url %>" alt="<%= proyecto.imagenes[0].description %>" />
    </div>
    <div class="w-20pt-l ml-4px-l d-flex-l fd-column-l h-400px-l pb-24px"> 
      <% proyecto.imagenes.each_with_index do |imagen,i| %>
        <div class="f-1-l pb-4px-m mb-24px mb-0px-l c-pointer-l">
          <img data-galeria class="d-block w-100pt of-cover-m h-100pt-m <% if i == 0 %>o-100pt-l <% else %>o-35pt-l <% end %> js-imagen-galeria" src="<%= imagen.url %>" alt="<%= imagen.description %>" />
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= javascript_include_tag "proyectos" %>